.container {
    background-color: var(--bg_secundary);
    min-width: 600px;
    border-radius: 10px;
    box-shadow: 3px 3px #303030;
}

.header {
    height: calc(var(--header-size) - 10px);
    display: flex;
    justify-content: space-between;
}

.section-title, .close {
    height: 100%;
}

.section-title {
    display: flex;
    align-items: center;

    min-width: 200px;
    background-color: var(--bg_primary);
    color: #FFF;

    border-radius: 10px 0 0 0;
}

.section-title img {
    width: 24px;
    margin: 0 15px;
}

.close {
    min-width: 50px;
    background-color: var(--bg_ocupado);
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 0 10px 0 0;

    cursor: pointer;
}

.input-image {
    min-width: 200px;
    min-height: 200px;
    background-color: #FFF;

    border: 1px solid var(--bg_primary);
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.input-image img {
    width: 200px;
    height: 170px;
    border-radius: 5px;

}

.input-image .description {
    width: 100%;
    height: 30px;
    background-color: var(--bg_primary);
    color: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    width: 100%;
    display: flex;
}

.side-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 400px;
    padding: 5px;
}

.side-input .input-image {
    margin: 10px 0;
}

.fields {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.double-input {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input input {
    width: 100%;
    height: 25px;

    border-radius: 5px;
    padding: 0 5px;

    font-size: 16px;
    text-align: center;
}

.double-input .input {
    width: 45%;
}

.text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-area textarea {
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

input, textarea {
    border: 1px solid var(--bg_primary);
}

.minimal-list {
    margin: 10px 0 0 10px;
    min-width: 250px;
    max-width: 300px;
    min-height: 100px;
    max-height: 500px;

    background-color: #FFF;
    border-left: 2px solid rgba(0, 0, 0, 0.4);
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.hidden {
    display: none;
}