.container {
    height: 60px;
    max-height: 60px;

    border-top: 2px solid #737373;
    background-color: var(--bg_primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.guest-data {
    display: flex;
    align-items: center;

    min-width: calc(100% - 200px);
    
    color: #FFF;
}

.guest-data img {
    margin-right: 15px;
    width: 24px;
}