.container {
    height: 60px;
    max-height: 60px;

    border-top: 2px solid #737373;
    background-color: var(--bg_primary);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;
}

.guest-data {
    display: flex;
    align-items: center;

    color: #FFF;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
}

.guest-data img {
    margin-right: 15px;
    width: 24px;
}