<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Tel. Contato</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let guestRow of guestRowList; index as i" (click)="selectGuest(i)" (dblclick)="showInformation()" [ngClass]="guestRow.row.class">
            <td [innerText]="guestRow.guest.getName()"></td>
            <td [innerText]="guestRow.guest.getCpf()"></td>
            <td [innerText]="guestRow.guest.getContactPhone()"></td>
        </tr>
    </tbody>
</table>