.header {
    min-width: calc(100vw - 240px);
    min-height: var(--header-size);
    background-color: var(--bg_primary);
    border-bottom: 2px solid #737373;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.roomList {
    min-width: calc(100vw - 250px);
    max-height: calc(100vh - var(--header-size));
    padding: 0 20px;

    display: flex;
    flex-wrap: wrap;

    overflow-y: scroll;
}

.roomList::-webkit-scrollbar {
    width: 10px;
}

.roomList::-webkit-scrollbar:hover {
    background-color: #737373;
}

.roomList::-webkit-scrollbar-thumb{
    background-color: var(--bg_primary);
    border-radius: 5px;
    height: 100px;
}

.room {
    margin: 7.5px;
}

.button {
    margin: 3.5px;
}

.buttons {
    display: flex;
}

.free, .occupied {
    width: 80px;
    height: 25px;
    border-radius: 10px;
    color: #FFF;
    border: none;
    font-weight: bold;
    margin: 0 7.5px;
}

.free {
    background-color: var(--bg_livre);
}

.occupied {
    background-color: var(--bg_ocupado);
}

.filter h3 {
    color: #fff;
    margin-left: 7.5px;
}

.new-room, .info-room, .edit-room, .new-accommodation {
    left:0;
    top:0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
}